
@section SPAViews {
    <div id="SideMenu" style="max-height:90vh">
        <form class="form-inline">
            <div>
                <label id="LoginUserName">Jane Doe</label>
                (
                <label id="LoginUserId">EMP-0001</label>
                )
            </div>
        </form>
        <div id="SideMenubar" class="sidemenu-scrollable"></div>
    </div>
}

@section Scripts{
    <script>
        // Assign View-ViewModel to the above <div id = "SideMenu" ...
        // $.BindingAnnotation("#SideMenu", () => Biz.WebApp.Portal.SideMenuView, () => Biz.WebApp.Portal.SideMenuViewModel)

        // Since lambda description in the script tag is not supported by IE, it is declared with the old description method
        $.BindingAnnotation("#SideMenu", function () { return Biz.WebApp.Portal.SideMenuView; }, function () { return Biz.WebApp.Portal.SideMenuViewModel; })
    </script>
}