<!-- Modal -->
<div tabindex="-1" class="vertical-alignment-helper"
     aria-labelledby="modalLabel" aria-hidden="true">
    @RenderSection("Scripts", required: false)
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                <h4 class="modal-title" id="modalLabel">@ViewBag.Title</h4>
            </div>
            <div class="modal-body">
                @RenderBody()
                @RenderSection("DialogViews", required: false)
            </div>
        </div>
    </div>
</div>
