@RenderSection("Scripts", required: false)
<div tabindex="-1" aria-hidden="true">
    <div class="panel-body">
        @RenderBody()
        @RenderSection("ContentViews", required: false)
    </div>
</div>
