<div class="container-fluid bg-grey fixedNavAnchor" id="viewviewmodel">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-cog logo slideanim"></span>
        </div>
        <div class="col-sm-8">
            <h2>View-ViewModel Component</h2><br>

            <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
            <p>
                <strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>


            <p>This is the <code>Panel</code> constructor:</p>
<pre><code>function Panel(element, canClose, closeHandler) {
  this.element = element;
  this.canClose = canClose;
  this.closeHandler = function () { if (closeHandler) closeHandler() };
}</code></pre>
        </div>
    </div>
</div>



<div class="container-fluid bg-grey fixedNavAnchor" id="binding">
    <div class="row">
        <div class="col-sm-8">
            <h2>View-ViewModel Component</h2><br>

            <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
            <p>
                <strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="col-sm-4">
            <div id="TabSample">

            </div>
            <div style="display:none">
                <!--タブ-->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">タブ1</a></li>
                    <li><a href="#tab2" data-toggle="tab">タブ2</a></li>
                </ul>
                <!-- / タブ-->
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <p>コンテンツ1</p>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <p>コンテンツ2</p>
                    </div>
                </div>

            </div>


        </div>


    </div>
</div>


