@{
    Layout = null;
}

<script src="/Scripts/App/Component/TabContent1View.js"></script>
<script src="/Scripts/App/Component/TabContent1ViewModel.js"></script>
<div class="" id="TabContent1">
    <div class="row">
        <label for="ContactUsName">
            Name
        </label>

        <input type="text" class="form-control"
               id="ContactUsName"
               placeholder="Enter name" />


        <input type="button"
               class="btn btn-lg btn-primary btn-block"
               id="SampleButton"
               value="Send Message" />
    </div>


</div>