@{
    Layout = null;
}

<script src="/Scripts/App/Component/TabContent2View.js"></script>
<script src="/Scripts/App/Component/TabContent2ViewModel.js"></script>

<div class="" id="TabContent2">
    <div class="row">
        <label for="ContactUsName">
            Name
        </label>
    </div>
</div>