/*
    http://work.smarchal.com/twbscolor/css/035d86ffffffecf0f1035d861
*/

.navbar {
    margin-bottom: 0;
    background-color: #035d86;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143;
    letter-spacing: 2px;
    border-radius: 0;
}

    .navbar li a, .navbar .navbar-brand {
        color: #fff;
    }

    .navbar .navbar-nav > li > .dropdown-menu > li > a {
        color: #035d86;
    }

        .navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
        .navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
            color: #fff;
            background-color: #035d86;
        }

    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #035d86;
        background-color: #ffffff;
    }

    .navbar .navbar-nav > .open > a,
    .navbar .navbar-nav > .open > a:hover,
    .navbar .navbar-nav > .open > a:focus {
        color: #035d86;
        background-color: #ffffff;
    }

    .navbar .navbar-toggle {
        border-color: #ffffff;
    }

        .navbar .navbar-toggle:hover,
        .navbar .navbar-toggle:focus {
            background-color: #ffffff;
        }

        .navbar .navbar-toggle .icon-bar {
            background-color: #ecf0f1;
        }

    .navbar .navbar-collapse,
    .navbar .navbar-form {
        border-color: #ecf0f1;
    }

    .navbar .navbar-link {
        color: #ecf0f1;
    }

        .navbar .navbar-link:hover {
            color: #035d86;
        }


.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #035d86 !important;
    background-color: #fff;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #035d86;
        }

    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #035d86;
        background-color: #ffffff;
    }
}
