<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DomBehind" version="1.0.40" targetFramework="net452" />
  <package id="jQuery" version="3.3.1" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.13.1" targetFramework="net452" />
  <package id="jquery.validation.TypeScript.DefinitelyTyped" version="0.4.6" targetFramework="net452" />
  <package id="w2ui.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net452" />
</packages>