<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net472" />
  <package id="bootstrap" version="3.4.1" targetFramework="net472" />
  <package id="DomBehind" version="1.1.73" targetFramework="net472" />
  <package id="DomBehind.Plugin.JQueryUI" version="1.0.10" targetFramework="net472" />
  <package id="DomBehind.Plugin.W2UI" version="1.0.21" targetFramework="net472" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net472" />
  <package id="jQuery" version="3.3.1" targetFramework="net472" />
  <package id="jQuery.FileUpload" version="9.22.0" targetFramework="net472" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net472" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net472" />
  <package id="jQuery.Validation" version="1.19.3" targetFramework="net472" />
  <package id="jquery.validation.TypeScript.DefinitelyTyped" version="0.4.6" targetFramework="net472" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.5.1" targetFramework="net472" />
  <package id="MefRepository" version="1.1.5" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc.ja" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor.ja" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Web.Optimization.ja" version="1.1.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client.ja" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core.ja" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost.ja" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages.ja" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb.ja" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.ja" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.ja" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Composition" version="15.8.98" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Composition.NetFxAttributes" version="15.8.98" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.82" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Moment.js" version="2.24.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
  <package id="NProgress.js" version="0.1.6.1" targetFramework="net472" />
  <package id="nprogress.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net472" />
  <package id="numeral" version="2.0.4" targetFramework="net472" />
  <package id="numeral.languages" version="2.0.4" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net472" />
  <package id="System.Composition" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.DispatchProxy" version="4.5.1" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="4.5.24" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="toastr" version="2.1.1" targetFramework="net472" />
  <package id="toastr.TypeScript.DefinitelyTyped" version="0.3.3" targetFramework="net472" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net472" />
  <package id="w2ui.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net472" />
  <package id="WebGrease" version="1.6.0" targetFramework="net472" />
</packages>