<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="4.2.1" targetFramework="net472" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.9.8" targetFramework="net472" />
  <package id="DomBehind" version="1.1.2" targetFramework="net472" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net472" />
  <package id="jQuery" version="3.3.1" targetFramework="net472" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net472" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net472" />
  <package id="jQuery.Validation" version="1.13.1" targetFramework="net472" />
  <package id="jquery.validation.TypeScript.DefinitelyTyped" version="0.4.6" targetFramework="net472" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.5.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc.ja" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor.ja" version="3.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client.ja" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core.ja" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost.ja" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages.ja" version="3.2.4" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Moment.js" version="2.24.0" targetFramework="net472" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.8.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
  <package id="NProgress.js" version="0.1.6.1" targetFramework="net472" />
  <package id="nprogress.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net472" />
  <package id="numeral" version="2.0.4" targetFramework="net472" />
  <package id="popper.js" version="1.14.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net472" />
</packages>