
@section SPAViews {
    <div name="TwoPainDetailView" class="form-twopane-detail">
        <form>
            <div class="row form-twopane-detail-panel">
                <div class="title-label">General</div>
                <div class="input-field-group form-twopane-detail-input-field-group">
                    <div class="w2ui-field w2ui-span4">
                        <label>Customer Id</label>
                        <div>
                            <input name="CustomerId">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label>Customer</label>
                        <div class="form-twopane-detail-input-field-group">
                            <input class="col-sm-4" name="FirstName">
                            <input class="col-sm-4 pull-right" name="LastName">
                        </div>
                    </div>
                </div>

                <div class="title-label">Address</div>
                <div class="input-field-group form-twopane-detail-input-field-group">
                    <div class="w2ui-field w2ui-span4">
                        <label>Address</label>
                        <div>
                            <input name="Address">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label>City</label>
                        <div>
                            <input name="City">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label>ZipCode</label>
                        <div>
                            <input name="ZipCode">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label>PhoneNo</label>
                        <div>
                            <input name="PhoneNo">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label>UpdateDate</label>
                        <div>
                            <input name="UpdateDate">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span4">
                        <label>Notes</label>
                        <div>
                            <textarea name="Notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right form-twopane-detail-panel">
                <input type="button" class="input-field-button" name="CloseButton" value="閉じる" />
                <input type="button" class="input-field-button" name="SaveButton"  value="保存" />
            </div>
        </form>
    </div>
}

@section Scripts{

    <script>
        // Assign View-ViewModel to the above <div id = "TwoPainDetailView" ...
        // $.BindingAnnotation("#TwoPainDetailView", () => Biz.WebApp.TwoPane.DetailView, () => Biz.WebApp.TwoPane.DetailViewModel)

        // Since lambda description in the script tag is not supported by IE, it is declared with the old description method
        $.BindingAnnotation('div.form-twopane-detail[name="TwoPainDetailView"]',
            function () { return Biz.WebApp.TwoPane.DetailView; },
            function () { return Biz.WebApp.TwoPane.DetailViewModel; });
    </script>

}