@{
    Layout = "~/Views/Shared/_LayoutSPA.cshtml";
}

@section SPAViews {
    <div id="TwoPaneMainView" name="TwoPaneMainView" class="parent-size form-twopane ui-layout-center">
        <form>
            <div class="row form-twopane-panel">
                <div class="col-sm-9 input-field-group">
                    <div class="col-sm-2 input-field-span4 input-field-label">
                        <label class="vertical-center">Condition</label>
                    </div>
                    <div class="col-sm-10 form-twopane-condition">
                        <div class="row zero-padding">
                            <div class="col-sm-3">
                                <div class="input-field input-field-label horizontal-center">
                                    <label>
                                        Amount data
                                    </label>
                                </div>
                                <div class="input-field">
                                    <input name="RecordCount" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-field input-field-label horizontal-center">
                                    <label>
                                        Customer name
                                    </label>
                                </div>
                                <div class="input-field">
                                    <input name="CustomerName" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-field input-field-label horizontal-center">
                                    <label class="">Direction</label>
                                </div>
                                <div class="input-field">
                                    <div class="radio-inline">
                                        <input type="radio" name="searcRadio" id="ForwardRadio" />
                                        <label for="ForwardRadio">Forward</label>
                                    </div>
                                    <div class="radio-inline">
                                        <input type="radio" name="searcRadio" id="PartialRadio" />
                                        <label for="PartialRadio">Partial</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row zero-padding">
                            <div class="col-sm-6">
                                <div class="input-field input-field-label horizontal-center">
                                    <label>
                                        Parent
                                    </label>
                                </div>
                                <div class="input-field">
                                    <input name="ParentList" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-field input-field-label horizontal-center">
                                    <label>
                                        Child
                                    </label>
                                </div>
                                <div class="input-field">
                                    <input name="ChildList" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 vertical-align-bottom">
                    <div class="col-sm-6">
                        <input type="button" class="input-field-button" value="SEARCH" name="SearchButton" />
                    </div>
                    <div class="col-sm-6">
                        <input type="button" class="input-field-button" value="CLEAR" name="ClearButton" />
                    </div>
                </div>
            </div>
        </form>
        <div class="row grid"></div>
    </div>
}

@section SPADetailViews{
    <div id="TwoPainDetailView" name="TwoPainDetailView" class="form-twopane-detail">
        <form>
            <div class="row form-twopane-detail-panel">
                <div class="title-label">General</div>
                <div class="input-field-group form-twopane-detail-input-field-group">
                    <div class="w2ui-field w2ui-span5">
                        <label>Customer Id</label>
                        <div>
                            <input name="CustomerId">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span5">
                        <label>Customer</label>
                        <div class="form-twopane-detail-input-field-group">
                            <input class="col-sm-4" name="FirstName">
                            <input class="col-sm-4 pull-right" name="LastName">
                        </div>
                    </div>
                </div>

                <div class="title-label">Address</div>
                <div class="input-field-group form-twopane-detail-input-field-group">
                    <div class="w2ui-field w2ui-span5">
                        <label>Address</label>
                        <div>
                            <input name="Address">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span5">
                        <label>City</label>
                        <div>
                            <input name="City">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span5">
                        <label>ZipCode</label>
                        <div>
                            <input name="ZipCode">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span5">
                        <label>PhoneNo</label>
                        <div>
                            <input name="PhoneNo">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span5">
                        <label>UpdateDate</label>
                        <div>
                            <input name="UpdateDate">
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span5">
                        <label>Notes</label>
                        <div>
                            <textarea name="Notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right form-twopane-detail-panel">
                <input type="button" class="input-field-button" name="CloseButton" value="閉じる" />
                <input type="button" class="input-field-button" name="SaveButton" value="保存" />
            </div>
        </form>
    </div>
}

@section Scripts{
    <script>
        // Assign View-ViewModel to the above <div id = "Home" ...
        // $.BindingAnnotation('div.form-twopane[name="TwoPainMainView"]', () => Biz.WebApp.TwoPane.MainView, () => Biz.WebApp.TwoPane.MainViewModel)

        // Since lambda description in the script tag is not supported by IE, it is declared with the old description method
        $.BindingAnnotation('#TwoPaneMainView',
            function () { return Biz.WebApp.TwoPane.MainView; },
            function () { return Biz.WebApp.TwoPane.MainViewModel; })

        $.BindingAnnotation('#TwoPainDetailView',
            function () { return Biz.WebApp.TwoPane.DetailView; },
            function () { return Biz.WebApp.TwoPane.DetailViewModel; });
    </script>
}
