@section SPAViews {
    <div id="HomeView">
        @Html.Partial("_Home")
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/app.home")
    @Scripts.Render("~/bundles/app.contact")
    @Scripts.Render("~/bundles/app.component")


}