<form class="form-signin" onsubmit="return false">
    <h2 class="form-signin-heading">Please sign in</h2>

    <label class="sr-only" for="EmailInput">Email address</label>
    <input class="form-control" id="EmailInput" placeholder="Email address" />

    <label class="sr-only" for="PasswordInput">Password</label>
    <input class="form-control" id="PasswordInput" placeholder="Password" />

    <div class="checkbox">
        <label>
            <input id="RememberMeCheckbox" />Remember me
        </label>
    </div>
    <input type="button"
           class="btn btn-lg btn-primary btn-block"
           id="SignInButton"
           value="Sign in" />
</form>

<div>
    <input type="button"
           class="btn btn-link center-block"
           id="CreateAccountButton"
           value="Create Account" />

</div>


