@section SPAViews {
    <div id="SignInView">
        @Html.Partial("_SignIn")
    </div>
}
@section Scripts{
    @Styles.Render("~/bundles/app.account.css")
    @Scripts.Render("~/bundles/app.account")
}


